.MainBox{
    max-width: 1000px;
    margin: auto;
    padding: 15px;
}
.Frequency {
    padding-top: 10px;
    align-items: center;
}
.Frequency__Box{
    padding-right: 3px ;
    color: green;
}
.Frequency__Text{
    font-weight: bold;
    font-size: 18px;
}
.RoomInfo{
    align-items: center;
    padding: 1px;
    justify-content: space-between;
    width: 250px;
    color: teal;
}
.Title{
    font-size: 16px;
    margin-bottom: 2px;
    font-weight: bold;
    padding: 10px;
}
.Description{
    color: gray;
    padding: 10px;
}
.MoreInfo{
    flex-wrap: wrap;
    text-transform: uppercase;
    justify-content: space-between;
}
.MoreInfo__title{
    justify-content: space-between;
    width: 400px;
    border-bottom: 1px;
    border-color: gray;
    padding: 3px;
}
.Facilites{
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}
.Facilites__text{
    font-weight: bold;
    color: teal;
    font-size: 16px;
    padding: 10px;
    background: lightgray;
    margin: 5px;
    border-radius: 5px;
    opacity: .5;

}
