.BannerBox{
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin:30px 10px 30px;
}
.MainBox {
    margin: 10px 30px;
}
.Purpose{
    color :gray;
    font-size: 14px;
    font-weight: normal;
}
.Title{
    font-size: 14px;
    font-weight: bold;
}
.Description{
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: gray;
}